#ifndef CONFIG_UDP
#define CONFIG_UDP

// comment for reading, uncomment for writing
#define WRITE

#define DEBUG

#define WIFI_SSID "my_ssid"
#define WIFI_PASS "my_pass"

#ifdef WRITE

#define REMOTE_IP "remote_ip"
#define REMOTE_PORT 5002
#define LOCAL_PORT 5001

#else

#define REMOTE_PORT 5001
#define LOCAL_PORT 5002

#endif

#endif
