#ifndef CONFIG_UDP
#define CONFIG_UDP

#define WIFI_SSID "my_ssid"
#define WIFI_PASS "my_pass"

#define SENSOR_APDS9960 1
#define SENSOR_HMMD 2
#define SENSOR_LD2410 4
#define SENSOR_HCSR04 5
#define SENSOR_VL53L1X 6

#define SENSOR SENSOR_VL53L1X

#endif
