#ifndef CONFIG_UDP
#define CONFIG_UDP

#define WIFI_SSID "ssid"
#define WIFI_PASS "pass"

// Arduino Unique ID, must correspond to artwork number
// used by :
//    midi for default channel
//    network for ipaddr
#define _UID 5

#define SENSOR_APDS9960 1
#define SENSOR_HMMD 2
#define SENSOR_LD2410 4
#define SENSOR_HCSR04 5

#define SENSOR SENSOR_HCSR04

#endif
